
p {
    font-weight: 800;
    font-size:20px;
}

.main-title {
    font-size: 100px;
   margin-top:15%;
   text-align: end;
    margin-left: 50%;
}
.main_container {
    width: 70%;
    margin: auto;
    align-items: center;
}

.img_container {
}

.picked_answer {
    font-size: 108px;
}

.answer_button {
    /*background-color: #34271f;
    border: solid 1px black;  */
    width: 250px;
    height: 60px;
    margin-left: 35px ;
    font-size: 20px;
    margin: 15px; 
}

.img {
    width: 600px;
    height: 480px;
}

.story {
   display: grid;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row; 
   
}

.even {
   align-items: flex-start;
    justify-content: flex-start;
    margin-right: 70%;
    
}

.title {
    align-items: center;
    justify-content: center;
}

.story .img {
justify-content: center;
}
.story-chapter {
   /* justify-content: center;*/
    width: 600px;
    height: 300px;
    margin-top: 30px;
    display: grid;
    text-align: justify;
    align-items: center;
    font-size: 30px;
    border-radius: 10px;
background-color: #ddb56ac0;
padding: 15px;

}

.odd {
   align-items: flex-end;
    justify-content: flex-end;
    margin-left: 60%;
}

.button_div {
    display: flex;
}

#remaining-lives {
    position: fixed;
    top:0;
    right:15px;
}

.life {
    width: 50px;
    margin-top: 15px;
}

.story-chapter p {
    font-size:30px; }

