p {
    font-weight: 800;
}

.main_container {
    width: 70%;
    margin: auto;
    align-items: center;
}

.img_container {
    display: flex;
    justify-content: center;
}

.picked_answer {
    font-size: 108px;
}

.answer_button {
    /*background-color: #34271f;
    border: solid 1px black;  */
    width: 250px;
    height: 60px;
    margin-left: 35px ;
    font-size: 20px;
    margin: 15px; 
}

.img {
    width: 600px;
    height: 480px;
}

.story {
    justify-content: center;
    display: grid;
    align-items: center;
    flex-direction: row;
}

.title {
    align-items: center;
    justify-content: center;
}

.story-chapter {
    justify-content: center;
}

.button_div {
    display: flex;
}

#remaining-lives {
    position: fixed;
    top:0;
    right:15px;
}

.life {
    width: 50px;
    margin-top: 15px;
}

.final_result {
    font-size: 36;
}